<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quectel.uartservice"
    android:sharedUserId="android.uid.system"
    coreApp="true">

    <application
        android:allowBackup="true"
		android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
	android:exported="true">
        <receiver android:name=".AutoStartBroadcastReceiver"
		  android:exported="true">
            <intent-filter android:priority="2147483647">
               <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
       </receiver>
        <service
            android:name=".UARTService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".UartService" />
            </intent-filter>
        </service>
    </application>
</manifest>
